* {
    font-family: "monospace", sans-serif;
}

header, footer {
    font-weight: 300;
    color: darkkhaki;
    text-shadow: 9px 4px 9px blue;

}

.time {
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;
}

body {
    background-color: black;
}
div {
    background-color: darkkhaki;
    padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#initials {
    flex-direction: column;
    width: 50%;
    
}