* {
    font-family: "monospace", sans-serif;
}
#qTitle {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    font-size: 100px;
    color: #7cca42;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 4px 4px white;
}
container, .quizBox{
    display:flex;
    width: 50;
    height: 50;
    align-items: center;
    justify-content: center;
    

}
.startMenu {
    font-weight: 300;
    color: #ffca2a;
    text-shadow: 9px 4px 9px #da5f4d;
    -webkit-text-stroke: 1px #7d8087;

}

#start:hover {
    background-color: lightgrey;

}

.time {
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;
}

body {
    background-color: #7cca42;
}
div {
    background-color: #4ea37b;
    padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#submitForm {
    flex-direction: column;
    width: 50%;
    display: none;
    
}
.answers {
    background-color: #7d8087;
    font-size: 30px;
    padding: 10px;
    
}

footer{
    font-size: 30px;
    color: black;
    display: none;
}
